# FCM Configuration
EXPO_PUBLIC_ENABLE_FCM=true

# API Configuration
API_BASE_URL=https://localhost:8080/api
NODE_ENV=development

EXPO_PUBLIC_API_URL='https://nikolas-unstrenuous-augustus.ngrok-free.dev/api/'

EXPO_PUBLIC_BASE_IMAGE_URL='https://nikolas-unstrenuous-augustus.ngrok-free.dev/images/';
