# API Base URL
API_BASE_URL=https://localhost:8080/api

# Environment
NODE_ENV=development

# Public API URL for Expo
EXPO_PUBLIC_API_URL='https://nikolas-unstrenuous-augustus.ngrok-free.dev/api/'

# Base Image URL
BASE_IMAGE_URL = 'https://nikolas-unstrenuous-augustus.ngrok-free.dev/images/';